@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");
/* обнуление общих параметров */
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
section,
header,
footer {
  display: block;
}

html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
  min-width: 360px;
  width: 100%;
  background: #fff;
  color: #000;
}

input,
button,
textarea {
  font-family: "Open Sans", sans-serif;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

/* / обнуление общих параметров */
body {
  line-height: 1.25;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  position: relative;
  width: 100%;
  overflow-x: hidden;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  z-index: -2;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.row {
  display: flex;
}

.align-items-center {
  align-items: center;
}

.justify-content-center {
  justify-content: center;
  justify-content: space-between;
}

.justify-content-between {
  justify-content: space-between;
}

.none {
  display: none !important;
}

.body-fixed {
  position: fixed;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
}

.ibg {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.ibg img.ibg-img {
  display: none;
}

li.counter {
  list-style-type: none;
  counter-reset: item;
}
li.counter li {
  position: relative;
  padding: 0px 0px 0px 45px;
}
li.counter li:before {
  counter-increment: item;
  content: counter(item);
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  color: #818181;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  line-height: 26px;
  border-radius: 50%;
  width: 28px;
  height: 28px;
  border: 1px solid #4274bb;
}

.video {
  position: relative;
  overflow: hidden;
  height: 0;
  padding-bottom: 56.25%;
}
.video video,
.video iframe,
.video object,
.video embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.videobg video,
.videobg iframe,
.videobg object,
.videobg embed {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  transform: translateX(-50%) translateY(-50%);
  background-size: cover;
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

.header {
  background-color: transparent;
  background-repeat: no-repeat;
  background-image: url("../img/orig.jpg");
  background-size: cover;
  background-position: 50% 55%;
  width: 100%;
  height: 100vh;
  top: 0px;
  left: 0px;
  transform: translate(0px, 0px);
  visibility: inherit;
  z-index: 20;
  position: relative;
}
.header__opas {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(to right, rgba(15, 119, 57, 0.46), rgba(81, 79, 199, 0.46));
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#6020d2", endColorstr="#2e67f5", GradientType=1 );
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 30px;
}
.header__logo {
  max-width: 123px;
}
.header__logo img {
  width: 100%;
}
.header__content {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 1;
}
.header__title {
  font-size: 60px;
  color: #fff;
  max-width: 800px;
  text-align: center;
  line-height: 1;
}
.header__subtitle {
  font-size: 20px;
  font-weight: 300;
  padding: 40px 0;
  color: #fff;
}
.header__selected-lang {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.h100 {
  height: 100%;
}

.wrapper-header-top {
  display: flex;
  justify-content: space-between;
}

.hidden {
  display: none;
}

input.error,
textarea.error {
  border-color: red;
}

.wrapper-select {
  position: relative;
  display: flex;
  align-items: center;
  background-color: transparent;
  padding: 0 42px 0 0;
}

.select__category {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #f5f5f5;
  padding-right: 14px;
}

.select {
  max-width: 160px;
  margin: 0 auto;
  position: relative;
  height: 100%;
}

.select.is-active .select__body {
  display: block;
}

.select__header {
  display: flex;
  cursor: pointer;
  height: 100%;
}

.select__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  height: 100%;
  width: 10px;
  text-align: center;
  margin-left: auto;
}

.select__current {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
  line-height: 24px;
  display: flex;
  align-items: center;
}

.select__body {
  display: none;
  background: transparent;
  position: absolute;
  left: -8px;
  right: 0;
  top: 100%;
  width: 160px;
  z-index: 999;
}

.select__item {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
  line-height: 24px;
  padding: 8px;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.select__item img {
  width: 16px;
  height: 11px;
}
.select__item span {
  margin-left: 10px;
}

.select__item:hover {
  background-color: rgba(0, 0, 255, 0.5);
}

.icons {
  display: flex;
  padding: 30px 0;
}
.icons__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
}
.icons__circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 158px;
  height: 158px;
  border-radius: 50%;
}
.icons__title {
  color: #333333;
  font-size: 20px;
  line-height: 20px;
  font-weight: normal;
  margin-top: 30px;
  margin-bottom: 20px;
  text-align: center;
}
.icons__subtitle {
  color: #808080;
  font-size: 16px;
  line-height: 23px;
  text-align: center;
}

.circle-green {
  background: #0BDA51;
}

.circle-blue {
  background: #3A75C4;
}

.circle-orange {
  background: #FF7518;
}

.section-requirements {
  position: relative;
  padding: 45px 0;
  background: rgba(0, 0, 0, 0.7);
}

.requirements {
  display: flex;
}
.requirements__opas {
  position: relative;
  background-repeat: no-repeat;
  background-image: url("../img/requirements.jpg");
  background-size: cover;
  background-position: 50% 50%;
}
.requirements__maintitle {
  color: #ffffff;
  font-size: 32px;
  font-weight: normal;
  padding-bottom: 20px;
}
.requirements__item {
  display: flex;
  padding: 20px 0;
}
.requirements__item img {
  width: 64px;
  height: 64px;
}
.requirements__title {
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
  line-height: 25px;
  margin-top: 4px;
  margin-bottom: 15px;
}
.requirements__subtitle {
  color: #999999;
  font-size: 16px;
  line-height: 23px;
}
.requirements__right {
  max-width: 45%;
  margin-left: 40px;
}
.requirements__input {
  font-size: 18px;
  color: #333;
  border-bottom: 1px solid #eee;
  padding: 0px 10px 10px 10px;
  margin-bottom: 5px;
  font-weight: 400;
  position: relative;
  background-color: #FFF;
  width: 100%;
  min-height: 40px;
  font-weight: 300;
}
.requirements__input::placeholder {
  color: #CCCCCC;
  font-weight: 300;
}
.requirements__input:focus::placeholder {
  color: transparent;
}
.requirements__label {
  color: #CCCCCC;
  opacity: 0;
  font-weight: 300;
}

.wrapper-text-requirements {
  margin-left: 20px;
}

.wrapper-requirements-form {
  background: #fff;
  padding: 45px;
}

.form__subtitle {
  font-size: 16px;
  color: #999;
  font-weight: 300;
  text-transform: uppercase;
}
.form__title {
  line-height: 36px;
  margin: 10px 0 0;
  font-size: 36px;
  font-weight: 500;
}

.requirements-btn {
  margin-top: 40px;
  background: #2575FC;
  border-radius: 20px;
  font-size: 16px;
  font-weight: 300;
  color: #fff;
  width: 100%;
  padding: 10px 0;
  transition: 0.4s;
}

.requirements-btn:hover {
  opacity: 0.8;
}

.circle-telephone {
  width: 68px;
  height: 68px;
  background: #0BDA51;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tel-fixed {
  position: fixed;
  left: 50px;
  bottom: 50px;
  z-index: 100;
}

.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
}

.popup__opas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.popup__wrapp {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  border-radius: 3px;
  z-index: 9999;
  padding: 20px;
  max-width: 460px;
  width: 100%;
}

.popup__close {
  position: absolute;
  display: block;
  width: 20px;
  height: 20px;
  top: 10px;
  right: 10px;
  border-radius: 3px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
  transition: 0.4s;
  cursor: pointer;
  background: #fff url(../img/svg/close.svg) 50% 50%/65% no-repeat;
}

.popup__title {
  font-size: 24px;
  font-weight: 600;
  text-align: center;
  padding-bottom: 30px;
}

.popup__input {
  border: 1px solid #2575FC;
  border-radius: 20px;
  padding: 10px;
  color: #2575FC;
  font-size: 16px;
  width: 100%;
}
.popup__input::placeholder {
  color: #2575FC;
  font-size: 16px;
}

.scroll-up {
  position: fixed;
  right: 50px;
  bottom: 50px;
  z-index: 100;
  width: 45px;
  height: 45px;
  cursor: pointer;
  border-radius: 50%;
  transition: all 0.4s ease 0s;
  transform: translateY(25px);
  opacity: 0;
  visibility: hidden;
}
.scroll-up:before {
  content: "";
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  border: 3px solid #2575FC;
  width: 10px;
  height: 10px;
  border-right-width: 0;
  border-bottom-width: 0;
  transition: inherit;
  opacity: 0.6;
}
.scroll-up__path {
  box-sizing: border-box;
  fill: none;
  stroke: #2575FC;
  stroke-width: 3px;
  transition: all 0.4s ease 0s;
}
.scroll-up.scroll-up_active {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}
.scroll-up:hover:before {
  border-color: #2575FC;
  opacity: 1;
}

@media (max-width: 1200px) {
  /**/
}
@media (max-width: 1024px) {
  /**/
}
@media (max-width: 992px) {
  /**/
}
@media (max-width: 768px) {
  /**/
}
@media (max-width: 480px) {
  /**/
}
@media (max-width: 360px) {
  /**/
}